* {
    box-sizing: border-box;
}

body {
    font-family: 'UnifrakturCook';
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 90vh;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: .8; 
    margin: 10px;
    position: relative;
    transition: all;
    transition-duration: 900ms;
    transition-timing-function: ease-out;
    
}

.panel h1 {
    text-shadow: 1px 1px 2px rgb(221, 216, 219), 0 0 1em rgb(252, 15, 200), 0 0 0.2em rgb(129, 111, 125);
    font-size: 35px;
    position: absolute;
    margin-right: auto;
    bottom: 85%;
    opacity: 0;
    margin-left: 21%;
    color: #000000;
}
.panel h2 {
    text-shadow: 1px 1px 2px rgb(221, 216, 219), 0 0 1em rgb(252, 15, 200), 0 0 0.2em rgb(129, 111, 125);
    font-size: 35px;
    position: absolute;
    margin-right: auto;
    bottom: -5%;
    opacity: 0;
    margin-left: 21%;
    color: #0c0c0c;
}

.panel.active {
    flex: 8;
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), 
    .panel:nth-of-type(5) {
        display: none; 
    }
}